header {background-color: aliceblue;
color: blue;}

.cabecalho-imagem
 {width: 10%;
height: 10%;}
.cabecalho-imagem2 
{width: 50%;
height: 50%;}


body {color: blue;}

.cabecalho-lista-item {display: inline;
justify-content: space-around;}