header {background-color: aliceblue;
color: blue;}

.cabecalho-imagem
 {width: 10%;
height: 10%;}
.cabecalho-imagem2 
{width: 10%;
height: 10%;}


body {color: blue;}

.cabecalho {display: flex;
justify-content: space-around;}

.corpo-imagem {width: 15%;
height: 15%;}
.corpo-imagem {text-align: center;}

.itens p {text-align: center;}

.descricao 
p{font-color: black}
.descricao 
p{font-size: 18px}
.descricao 
div {text-align: center;}
