header {background-color: aliceblue;
color: blue;}

.cabecalho-imagem
 {width: 10%;
height: 10%;}
.cabecalho-imagem2 
{width: 70%;
height: 70%;}
body {color: blue;}

.cabecalho-lista {display: flex;
justify-content: space-around;}